/* Posts */
masonrybox view { border-spacing: 10px; margin: 10px; }
masonrybox view > column { border-spacing: 10px; }
tabview viewport > widget .spinner { min-width: 300px; }
tabview .spinner { min-height: 400px; }
tabview video revealer controls {
  margin: 6px;
  padding: 6px;
}
tabview video revealer controls,
tabview picture { border-radius: 13px; }
tabview viewport > widget > picture { min-width: 300px; }
tabview masonrybox overlay revealer,
tabview widget > overlay revealer,
tabview widget > overlay viewport > :first-child { margin: 6px; }
tabview masonrybox overlay box { border-spacing: 6px; }
tabview masonrybox overlay label {
  margin: 0px 0px 8px 8px;
  padding: 6px 10px 6px 10px;
  border-radius: 14px;
  font-weight: bold;
}

/* Search */
.bottom-bar search {
  margin: 4px 6px 2px 6px;
  min-height: 36px;
}
search placeholder { opacity: var(--dim-opacity); }
search {
 background: color-mix(in srgb, currentColor 8%, transparent);
 border-radius: 10px;
 padding: 0px 5px 0px 5px;
 outline: 0 solid transparent;
 outline-offset: 4px;
 transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
search > menubutton > button,
search > button {
 background: none;
 outline: none;
}
search > menubutton:not(:hover) > button,
search > button:not(:hover) { opacity: 0.7; }
search popover contents > list > row,
search > button,
search > menubutton > button { padding: 0px; }
search:focus-within {
 outline-color: color-mix(in srgb, var(--accent-color) 50%, transparent);
 outline-width: 2px;
 outline-offset: -2px; 
}
search > text { margin: 0px 2px 0px 2px; }
search text popover list { background: none; }
search text popover { margin-top: 6px; }
search text popover row:selected { background-color: color-mix(in srgb, currentColor 5%, transparent); }
search text popover row {
  padding: 8px;
  margin-bottom: 2px;
  border-radius: 6px;
}
search text popover row:last-child { margin-bottom: 0px; }
search text popover row box { border-spacing: 4px; }

/* Add Dialog */
.addurl-dialog textview {
  background: color-mix(in srgb, currentColor 8%, transparent); 
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
}
.addurl-dialog .message-area  {
  border-spacing: 16px;
}

/* Colors */
sheet,
toolbarview {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.colored {
  --scrollbar-outline-color: rgb(0 0 0 / 25%);
  --accent-color: var(--color-1);
  --accent-bg-color: var(--color-1);
  --popover-bg-color: color-mix(in srgb, var(--color-2), var(--window-bg-color) 60%);
  --card-bg-color: rgb(255 255 255 / 4%);
}
.colored sheet,
.colored toolbarview {
  background: linear-gradient(
      to bottom right,
      color-mix(in srgb, var(--color-1) 45%, transparent),
      transparent
    ),
    linear-gradient(
      to bottom left,
      color-mix(in srgb, var(--color-2) 45%, transparent),
      transparent
    ),
    linear-gradient(
      to top,
      color-mix(in srgb, var(--color-3) 45%, transparent),
      transparent
    ),
    var(--window-bg-color);
}
